<a href="https://colab.research.google.com/github/quoctrungsz27/BT1_AI/blob/main/BT1_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open('text.txt', mode ='w') as accounts:
    accounts.write('20146164 Vi Quoc Trung 10.0 \n')
    accounts.write('20146123 Nguyen Van A 10.0 \n')
    accounts.write('20146456 Nguyen Van B 10.0 \n')
    accounts.write('20146124 Nguyen Van C 10.0 \n')
    accounts.write('20146421 Nguyen Van D 10.0 \n')
    accounts.write('20146198 Nguyen Van E 10.0 \n')
    accounts.write('20146794 Nguyen Van F 10.0 \n')
    accounts.write('20146231 Nguyen Van G 10.0 \n')
    accounts.write('20146632 Nguyen Van H 10.0 \n')
    accounts.write('20146221 Nguyen Van I 10.0 \n')
    accounts.write('20146221 Nguyen Van K 10.0 \n')
    accounts.write('20146221 Nguyen Van L 10.0 \n')
    accounts.write('20146221 Nguyen Van M 10.0 \n')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
with open('text.txt', mode ='w') as accounts:
    accounts.write('20146164 Vi Quoc Trung 10.0 \n',file = accounts)
    accounts.write('20146123 Nguyen Van A 10.0 \n',file = accounts)
    accounts.write('20146456 Nguyen Van B 10.0 \n',file = accounts)
    accounts.write('20146124 Nguyen Van C 10.0 \n',file = accounts)
    accounts.write('20146421 Nguyen Van D 10.0 \n',file = accounts)
    accounts.write('20146198 Nguyen Van E 10.0 \n',file = accounts)
    accounts.write('20146794 Nguyen Van F 10.0 \n',file = accounts)
    accounts.write('20146231 Nguyen Van G 10.0 \n',file = accounts)
    accounts.write('20146632 Nguyen Van H 10.0 \n',file = accounts)
    accounts.write('20146221 Nguyen Van I 10.0 \n',file = accounts)
    accounts.write('20146221 Nguyen Van K 10.0 \n',file = accounts)
    accounts.write('20146221 Nguyen Van L 10.0 \n',file = accounts)
    accounts.write('20146221 Nguyen Van M 10.0 \n',file = accounts)

TypeError: ignored

In [ ]:
with open('text.txt', mode ='w') as accounts:
    print(f'{"MSSV":<10}{"Name":<20}{"(Score":>4}')
    for record in accounts:
        mssv,name,score = record.split()
    print(f'{mssv:10}{name:<20}{score:>4}')

MSSV      Name                (Score

UnsupportedOperation: ignored

In [ ]:
import pandas as pd
url = 'Test1.csv'
dataframe = pd.read_csv(url)
dataframe.head(20)
#dataframe.shape #kich thuoc
#dataframe.describe() #Hien thi
#dataframe.iloc[4] #Lay gia tri hang thu i

       MSSV     Ho va ten  Namhoc Khoa   ƒêiem
0  20146001  Nguyen Van A    2020   CKM    10
1  20146002  Nguyen Van B    2020   CKM     9
2  20146003  Nguyen Van C    2020   CKM     8
3  20146004  Nguyen Van D    2020   CKM     7
4  20146005  Nguyen Van E    2020   CKM     6
5  20146006  Nguyen Van F    2020   CKM     5
6  20146007  Nguyen Van G    2020   CKM     4
7  20146008  Nguyen Van H    2020   CKM     3
8  20146009  Nguyen Van K    2020   CKM     2

In [ ]:
frame = dataframe.set_index(dataframe['Ho va ten'])
frame.loc['Nguyen Van A']

MSSV             20146001
Ho va ten    Nguyen Van A
Namhoc               2020
Khoa                  CKM
ƒêiem                   10
Name: Nguyen Van A, dtype: object

In [ ]:
dataframe[dataframe['Khoa ']=='CKM'].head(5)

       MSSV     Ho va ten  Namhoc Khoa   ƒêiem
0  20146001  Nguyen Van A    2020   CKM    10
1  20146002  Nguyen Van B    2020   CKM     9
2  20146003  Nguyen Van C    2020   CKM     8
3  20146004  Nguyen Van D    2020   CKM     7
4  20146005  Nguyen Van E    2020   CKM     6

In [ ]:
dataframe[(dataframe['Namhoc']==2020) | (dataframe['Khoa']=='CKM')]

In [ ]:
dataframe['Namhoc'].min()
dataframe['Diem'].mean()

In [ ]:
import pandas as pd
url = 'Test1.csv'
dataframe = pd.read_csv(url)
dataframe.head(20)
#dataframe.shape #kich thuoc
#dataframe.describe() #Hien thi
#dataframe.iloc[4] #Lay gia tri hang thu i

       MSSV     Ho va ten  Namhoc Khoa   ƒêiem
0  20146001  Nguyen Van A    2020   CKM    10
1  20146002  Nguyen Van B    2020   CKM     9
2  20146003  Nguyen Van C    2020   CKM     8
3  20146004  Nguyen Van D    2020   CKM     7
4  20146005  Nguyen Van E    2020   CKM     6
5  20146006  Nguyen Van F    2020   CKM     5
6  20146007  Nguyen Van G    2020   CKM     4
7  20146008  Nguyen Van H    2020   CKM     3
8  20146009  Nguyen Van K    2020   CKM     2

In [ ]:
frame = dataframe.set_index(dataframe['Ho va ten'])
frame.loc['Nguyen Van A']

MSSV             20146001
Ho va ten    Nguyen Van A
Namhoc               2020
Khoa                  CKM
ƒêiem                   10
Name: Nguyen Van A, dtype: object

In [ ]:
dataframe[dataframe['Ho va ten']=='Nguyen Van B'].head(5)

       MSSV     Ho va ten  Namhoc Khoa   ƒêiem
1  20146002  Nguyen Van B    2020   CKM     9

In [ ]:
dataframe.drop('Khoa',axis =1).head(20)
dataframe.drop(['Khoa','Namhoc'],axis = 1).head(20)

In [ ]:
dataframe[dataframe['Ho va ten']!='Nguyen Van C'].head(10)
dataframe[dataframe.index!=3].head(10)
dataframe.groupby('Khoa ').head(20)
dataframe.groupby('Khoa ').count()
dataframe.groupby(['Khoa ','Khoa ']).head(20) 
dataframe.groupby(['Kh√≥a ','Khoa ']).count() 
#dataframe.groupby(['Khoa ','Kh√≥a '])['Diem '].count()

In [ ]:
import numpy as np
import pandas as pd

time = pd.date_range('01/01/2023',periods=100000,freq='60s')
dataframe=pd.DataFrame(index=time)
dataframe['Access_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('w').sum()

            Access_Amount
2023-01-01           7297
2023-01-08          50352
2023-01-15          50499
2023-01-22          50232
2023-01-29          50114
2023-02-05          50336
2023-02-12          50760
2023-02-19          49991
2023-02-26          50094
2023-03-05          50498
2023-03-12          39233

In [ ]:
import pandas as pd

url = 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data
#Chon 1 nuoc loc huy chuong tu cac mon

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data.iloc[100]

Year                       1932
City                Lake Placid
Sport                    Skiing
Discipline      Cross Country S
NOC                         FIN
Event                      50km
Event gender                  M
Medal                      Gold
Name: 100, dtype: object

In [ ]:
data[data['City']=='Lake Placid']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
90,1932,Lake Placid,Skating,Figure skating,AUT,individual,M,Gold
91,1932,Lake Placid,Skating,Figure skating,AUT,individual,W,Silver
92,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
93,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
94,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
...,...,...,...,...,...,...,...,...
1006,1980,Lake Placid,Skating,Speed skating,USA,3000m,W,Bronze
1007,1980,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold
1008,1980,Lake Placid,Skating,Speed skating,USA,500m,M,Gold
1009,1980,Lake Placid,Skating,Speed skating,USA,500m,W,Silver
1010,1980,Lake Placid,Skiing,Alpine Skiing,USA,slalom,M,Silver

In [ ]:
data[(data['City']=='Lake Placid')&(data['Sport']=='Skating') & (data['Medal']=='Gold')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
90,1932,Lake Placid,Skating,Figure skating,AUT,individual,M,Gold
102,1932,Lake Placid,Skating,Figure skating,FRA,pairs,X,Gold
106,1932,Lake Placid,Skating,Figure skating,NOR,individual,W,Gold
127,1932,Lake Placid,Skating,Speed skating,USA,10000m,M,Gold
128,1932,Lake Placid,Skating,Speed skating,USA,1500m,M,Gold
129,1932,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold
131,1932,Lake Placid,Skating,Speed skating,USA,500m,M,Gold
921,1980,Lake Placid,Skating,Figure skating,GBR,individual,M,Gold
934,1980,Lake Placid,Skating,Figure skating,GDR,individual,W,Gold
939,1980,Lake Placid,Skating,Speed skating,GDR,500m,W,Gold
954,1980,Lake Placid,Skating,Speed skating,NED,1500m,W,Gold
961,1980,Lake Placid,Skating,Speed skating,NOR,3000m,W,Gold
985,1980,Lake Placid,Skating,Figure skating,URS,ice dancing,X,Gold
986,1980,Lake Placid,Skating,Figure skating,URS,pairs,X,Gold
989,1980,Lake Placid,Skating,Speed skating,URS,1000m,W,Gold
1002,1980,Lake Placid,Skating,Speed skating,USA,10000m,M,Gold
1003,1980,Lake Placid,Skating,Speed skating,USA,1000m,M,Gold
1005,1980,Lake Placid,Skating,Speed skating,USA,1500m,M,Gold
1007,1980,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold
1008,1980,Lake Placid,Skating,Speed skating,USA,500m,M,Gold

In [ ]:
data[(data['City']=='Lake Placid')&(data['Medal']=='Gold')].count()

Year            52
City            52
Sport           52
Discipline      52
NOC             52
Event           52
Event gender    52
Medal           52
dtype: int64